* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  outline: none;
}

body,
html {
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
}

header {
  margin: auto;
  position: relative;
  width: 1280px;
  height: 50px;
  border: 1px solid #000000;
  background-color: #000000;
}
header .header__left {
  position: absolute;
  background: url(./../../../image/image\ 3.png);
  width: 116px;
  height: 32px;
  left: 24px;
  top: 10px;
}
header .header__right {
  color: #f7f7f7;
  line-height: 19px;
  font-size: 16px;
  font-weight: 300;
}
header .header__right .header__right--cart {
  position: absolute;
  width: 66px;
  height: 36px;
  left: 1027px;
  top: 6px;
}
header .header__right .header__right--cart .header__right--img {
  background: url(./../../../image/image\ 8.png);
  position: absolute;
  left: 0%;
  right: 53.03%;
  top: 8.33%;
  bottom: 5.56%;
}
header .header__right .header__right--cart .header__right--number {
  position: absolute;
  left: 46.97%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}
header .header__right .header__right--signup .header__right--login {
  position: absolute;
  left: 1103px;
  top: 15px;
}
header .header__right .header__right--signup .header__right--register {
  position: absolute;
  left: 1170px;
  top: 15px;
}

.nav {
  margin: auto;
  background-color: #fff;
  width: 1280px;
  height: 50px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}
.nav .nav__content {
  padding: 16px 25px;
}
.nav .nav__content a {
  color: #000000;
}
.nav .nav__content li {
  display: inline-block;
  margin-right: 30px;
}
.nav .nav__content li:first-of-type {
  font-weight: 400;
  position: relative;
}
.nav .nav__content li:first-of-type::after {
  display: block;
  content: "";
  height: 2px;
  width: 60px;
  background: #030303;
  position: absolute;
  left: -2px;
  bottom: -8px;
}
.nav .nav__content li:last-of-type {
  font-weight: 400;
  position: relative;
}
.nav .nav__content li:last-of-type::after {
  display: block;
  content: "";
  height: 2px;
  width: 80px;
  background: #030303;
  position: absolute;
  left: -2px;
  bottom: -8px;
}
.nav .nav__content li:nth-child(2), .nav .nav__content li:nth-child(3) {
  opacity: 0.7;
}

.carousel {
  margin: auto;
  height: 524px;
  width: 1280px;
  background: #fff;
  display: flex;
}
.carousel .carousel__left .carousel__left--content {
  margin: 55px 65px 117px;
  height: 357px;
  width: 330px;
  background: #f8f8f8;
  position: relative;
}
.carousel .carousel__left .carousel__left--content img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
}
.carousel .carousel__right {
  padding: 65px 64px;
}
.carousel .carousel__right .carousel__right--name {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
}
.carousel .carousel__right .carousel__right--text {
  height: 76px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 9px;
  padding-right: 200px;
  color: #140101;
}
.carousel .carousel__right .carousel__right--avai {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #1ed90e;
  margin: 14px 0 19px;
}
.carousel .carousel__right .carousel__right--size {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #1e1d1d;
}
.carousel .carousel__right .carousel__right--size .size {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background: #cccccc;
}
.carousel .carousel__right .carousel__right--price {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #fc0303;
  margin: 17px 0 15px;
}
.carousel .carousel__right .carousel__right--updown {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.carousel .carousel__right .carousel__right--updown span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-right: -4px;
}
.carousel .carousel__right .carousel__right--updown span:first-child,
.carousel .carousel__right .carousel__right--updown span:last-child {
  cursor: pointer;
  color: #fffcfc;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
}
.carousel .carousel__right .carousel__right--add {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #fff8f8;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
  margin-top: 7px;
  border: none;
  padding: 17px 29px;
  cursor: pointer;
}

.product {
  margin: auto;
  height: 1074px;
  width: 1280px;
  position: relative;
  background: #fffcfc;
}
.product .product__text {
  text-align: center;
  padding-top: 45px;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}
.product .product__content {
  padding: 65px 65px;
  display: flex;
  flex-wrap: wrap;
}
.product .product__content .product__item {
  position: relative;
  width: 334px;
  height: 369px;
  margin: 0 auto;
  background: #f8f8f8;
  font-weight: 300;
}
.product .product__content .product__item:nth-of-type(4), .product .product__content .product__item:nth-of-type(5), .product .product__content .product__item:nth-of-type(6) {
  margin-top: 50px;
}
.product .product__content .product__item .product__item--content {
  display: flex;
  flex-direction: column;
}
.product .product__content .product__item .product__item--content .product__item--img {
  padding: 45px 57px;
}
.product .product__content .product__item .product__item--content .product__item--img img {
  max-width: 100%;
}
.product .product__content .product__item .product__item--content .product__item--text {
  position: absolute;
  bottom: 77px;
  padding: 0 24px;
}
.product .product__content .product__item .product__item--content .product__item--text .product__item--name {
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.product .product__content .product__item .product__item--content .product__item--text .product__item--descrip {
  margin-top: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #cbc9c9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.product .product__content .product__item .product__item--content .product__item--buy {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  font-size: 24px;
  line-height: 29px;
}
.product .product__content .product__item .product__item--content .product__item--buy .product__item--btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 64px;
  background: #e1b067;
}
.product .product__content .product__item .product__item--content .product__item--buy .product__item--btn a {
  color: #000000;
}
.product .product__content .product__item .product__item--content .product__item--buy .product__item--price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 64px;
  font-weight: 600;
  background: #dedddc;
}

footer {
  margin: auto;
  width: 1280px;
  height: 242px;
  background: url(./../../../image/image\ 7.png);
}/*# sourceMappingURL=detail.css.map */