.nav {
  margin: auto;
  background-color: $color-white;
  width: 1280px;
  height: 50px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  .nav__content {
    padding: 16px 25px;
    a {
      color: $color-black;
    }
    li {
      display: inline-block;
      margin-right: 30px;
      &:first-of-type {
        font-weight: 400;
        position: relative;
        &::after {
          display: block;
          content: "";
          height: 2px;
          width: 60px;
          background: $color-black-3;
          position: absolute;
          left: -2px;
          bottom: -8px;
        }
      }
      &:last-of-type {
        font-weight: 400;
        position: relative;
        &::after {
          display: block;
          content: "";
          height: 2px;
          width: 80px;
          background: $color-black-3;
          position: absolute;
          left: -2px;
          bottom: -8px;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        opacity: 0.7;
      }
    }
  }
}
