// .product {
//   margin: auto;
//   height: 1048px;
//   width: 1280px;
//   position: relative;
//   background: $color-white-2;

//   .product__text {
//     text-align: center;
//     padding-top: 19px;
//     font-weight: 400;
//     font-size: 40px;
//     line-height: 48px;
//   }
//   .product__content {
//     padding: 46px 65px 0;
//     .product__item--top {
//       display: flex;
//     }
//     .product__item--bot {
//       display: flex;
//     }
//     .product__item {
//       position: relative;
//       width: 334px;
//       height: 369px;
//       margin: 48px 31px 0;
//       background: $color-bg-img;
//       font-weight: 300;

//       .product__item--content {
//         display: flex;
//         flex-direction: column;
//         .product__item--img {
//           padding: 45px 57px;
//           img {
//             width: 100%;
//           }
//         }
//         .product__item--text {
//           position: absolute;
//           bottom: 77px;
//           padding: 0 24px;
//           .product__item--name {
//             font-size: 24px;
//             line-height: 29px;
//             display: -webkit-box;
//             -webkit-box-orient: vertical;
//             -webkit-line-clamp: 1;
//             overflow: hidden;
//           }
//           .product__item--descrip {
//             margin-top: 5px;
//             font-size: 20px;
//             line-height: 24px;
//             color: $color-gray;
//             display: -webkit-box;
//             -webkit-box-orient: vertical;
//             -webkit-line-clamp: 1;
//             overflow: hidden;
//           }
//         }
//         .product__item--buy {
//           position: absolute;
//           bottom: 0;
//           left: 0;
//           right: 0;
//           display: flex;
//           font-size: 24px;
//           line-height: 29px;

//           .product__item--btn {
//             cursor: pointer;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             width: 175px;
//             height: 64px;
//             background: $color-bg-buy;
//           }
//           .product__item--price {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             width: 160px;
//             height: 64px;
//             font-weight: 600;
//             background: $color-bg-price;
//           }
//         }
//       }
//     }
//   }
// }

.product {
  margin: auto;
  height: 1074px;
  width: 1280px;
  position: relative;
  background: $color-white-2;
  .product__text {
    text-align: center;
    padding-top: 45px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
  }
  .product__content {
    padding: 65px 65px;
    display: flex;
    flex-wrap: wrap;
    .product__item {
      position: relative;
      width: 334px;
      height: 369px;
      margin: 0 auto;
      // margin: 25px 35px;
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        margin-top: 50px;
      }
      background: $color-bg-img;
      font-weight: 300;

      .product__item--content {
        display: flex;
        flex-direction: column;

        .product__item--img {
          padding: 45px 57px;

          img {
            max-width: 100%;
          }
        }
        .product__item--text {
          position: absolute;
          bottom: 77px;
          padding: 0 24px;
          .product__item--name {
            font-size: 24px;
            line-height: 29px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }
          .product__item--descrip {
            margin-top: 5px;
            font-size: 20px;
            line-height: 24px;
            color: $color-gray;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }
        }

        .product__item--buy {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          font-size: 24px;
          line-height: 29px;

          .product__item--btn {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 175px;
            height: 64px;
            background: $color-bg-buy;
            a {
              color: $color-black;
            }
          }
          .product__item--price {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 64px;
            font-weight: 600;
            background: $color-bg-price;
          }
        }
      }
    }
  }
}
