$color-primary: #f5f5f5;
$color-pink: #ae18e2;
$color-white: #fff;
$color-white-1: #f7f7f7;
$color-white-2: #fffcfc;
$color-white-3: #fff8f8;
$color-black: #000000;
$color-black-1: #140101;
$color-black-2: #1e1d1d;
$color-black-3: #030303;
$color-gray: #cbc9c9;
$color-gray-1: #cccccc;
$color-green: #1ed90e;
$color-red: #fc0303;
$color-red-1: #f50e0e;
//BACKGROUND
$color-bg-item: #fffcfc;
$color-bg-price: #dedddc;
$color-bg-buy: #e1b067;
$color-bg-buy-2: #f8b653;
$color-bg-add: linear-gradient(
  270deg,
  rgba(62, 32, 248, 0.9) 5.14%,
  #d017ee 89.71%
);
$color-bg-up-down-item: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
$color-bg-size: #cccccc;
$color-bg-img: #f8f8f8;
$color-bg-radio: #d9d9d9;
